li{
    justify-content: space-around;
    text-align: start;
    
}
table,td,th{
    border: 1px solid black;
}
td,th{
    padding:0 15px 0 0;
}
.card-header{
    
    justify-content: space-between;
}